body{
    background: #008B8B;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: #FAFAD2;
    border-radius:20px;
}

.assignment img {
    width:200px;
    margin:14px;
    border:4px solid #008000;
}

.assignment img:hover{
    border:4px solid #FA8072;
}

h1{
    color: #F0E68C;
    text-align:center;
}

h1:hover{
    color: #4682B4;
    
}

a {
    text-decoration: none;
   
    color: #FFFFF0;
}
a:hover {
    color: #FA8072;
}